/* 
*{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
.navigation_Bar{
  display: flex;
  background-color: #181918c0;
  justify-content:stretch;
}
.logo{
  display: flex;
  color: white; 
    padding-top: 0.4rem;


}
.navbars{
  display: flex;
  list-style-type: none;
  padding-top: 0.7em;


}
  li a:hover {
    color: #f21800;
  }
  .active {
    color: rgb(255, 228, 20);
  }



li a {

color: white;
padding: 0px 30px; 
text-decoration: none;   


}
.logo img{
  margin-left: 10px;
}
.logo p{
  color: rgb(255, 228, 20);
  font-weight: 600;
  padding-top: 0.3em;

} 
 */
