.card-img, .card-img-bottom, .card-img-top {
    width: auto;
}
.showProducts{
    display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 2% 0%;
}
.productCatogary{
    margin-left: 2%;
    font-size: large;

}