.card-img, .card-img-bottom, .card-img-top {
    width:auto;
    height:10em
}
.showProducts{
    display:grid;
  grid-template-columns: auto auto auto;
  justify-content:space-evenly;
  gap: 2% 0%;
}
.productCategory{
    margin-left: 2%;
    font-size:larger;
}